.container{
    padding:10px;
    background: #b9bdba;

}
.filter-container{
    background: white;
    padding: 10px 20px;
}


.label-text-class{
text-align: center;

    margin-top: 20px;
}
.label-text-border-bottom{
    margin: 0px 60px;
    border-bottom:1px solid black
}
.center{
    text-align: center; 
}
.button-container{
width: 50%;

}
.button-customized{
    background: #a2eb81;
    border-radius: 4px;
    margin: 12px 22px 0 33px;
    padding: 5px 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.active{
    background:#58d93b
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-label{
    font-size: 28px;
   
    font-weight: bold;
}
.mission-image-container{
    width: 100%;
    height:160px;
    background:#b9bdba;
    background-size: contain;
    text-align: center;
   
}
.mission-image-container img{

    max-width: 100%;
    max-height: 100%;
}
.page-title{
    font-size: 34px;
    padding:0 15px;
    font-weight: bold;
}
.mission-name{
    color:#4b2ef0;
    font-weight:bold;
    padding:5px 0;
    font-size: 16px;
}
.title-class{
    font-size: 18px;
    font-weight: bold;
}
.mission-ids,.launc-year-block,.successful-launch-status,.successful-landing-status{
    font-size: 16px;
    font-weight: bold; 
    width:50%; 
}
.padding-tb{
    padding:10px 0px;
}
.spacex-details-value{
    color:#4b2ef0
}
.footer{
    text-align: center;
    font-weight: bold;
}